services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: dbpassword
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data 
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app_network

  redis:
    image: redis:6.2-alpine
    container_name: redis
    restart: always
    ports: 
      - "6379:6379"
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      -  cache:/data
    networks:
      - app_network

  app:
    build: .
    container_name: app
    depends_on:
      - db
      - redis
    ports:
     - "8080:8080"
    networks:
     - app_network

volumes:
  db_data:
  cache:

networks:
  app_network: